USE [master]
GO
/****** Object:  Database [FinalCinemaProject]    Script Date: 5/4/2026 5:35:54 AM ******/
CREATE DATABASE [FinalCinemaProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalCinemaProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinalCinemaProject.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalCinemaProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FinalCinemaProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalCinemaProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalCinemaProject]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckHallCapacity]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Check hall capacity(Hla)
create Function [dbo].[CheckHallCapacity] 
    (@HallNumberParameter int)
    Returns int
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Hall WHERE HallNumber = @HallNumberParameter)
        RETURN -1; 

Declare @ReturnHallCapacity int
select @ReturnHallCapacity = HallCapacity
from Hall
where HallNumber = @HallNumberParameter
return @ReturnHallCapacity;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getDailyRevenue]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_getDailyRevenue]
(
    @Target_date DATE
)
RETURNS MONEY
AS
BEGIN
    DECLARE @total MONEY;

    SELECT @total = SUM(T.NumberOfTickets * S.Price)
    FROM Booking B
    INNER JOIN Ticket T
        ON B.Booking_ID = T.BookingID
    INNER JOIN [Show] S
        ON B.B_shownumber = S.show_Number
    WHERE CAST(B.Booking_date AS DATE) = @Target_date
      AND B.Booking_Status = 'Confirmed';

    RETURN ISNULL(@total, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[get_payment_status]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*this return status of payment and booking status*/
create function [dbo].[get_payment_status]( @BookingID int )
	returns nvarchar(30)
as
begin
	declare @pstatus nvarchar(50);
	declare @Bstatus nvarchar(50);
	select @pstatus =p.Payment_status , @Bstatus =Booking_Status
	from payment p
	join Booking b on b.Payment_ID = p.payment_id
	where b.Booking_ID = @BookingID;
	return @Bstatus +' '+ @pstatus ;
end;
GO
/****** Object:  Table [dbo].[admin]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_fname] [nvarchar](50) NOT NULL,
	[admin_lname] [nvarchar](50) NOT NULL,
	[admin_email] [nvarchar](100) NOT NULL,
	[admin_password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[admin_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Booking_ID] [int] IDENTITY(1,1) NOT NULL,
	[Booking_Status] [nvarchar](15) NOT NULL,
	[Booking_date] [datetime] NOT NULL,
	[B_shownumber] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Payment_ID] [int] NULL,
 CONSTRAINT [PK__Booking___35ABFDE09CAA6EA0] PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Booking_Payment] UNIQUE NONCLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customerfinal]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customerfinal](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Cus_Password] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPhonefinal]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPhonefinal](
	[CustomerID] [int] NOT NULL,
	[PhoneNo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PKCustomerPhone] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[PhoneNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallNumber] [int] IDENTITY(1,1) NOT NULL,
	[HallCapacity] [int] NOT NULL,
	[HallType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[EIDR] [varchar](20) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Duration] [int] NOT NULL,
	[AgeRating] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EIDR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Genre]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Genre](
	[EIDR] [varchar](20) NOT NULL,
	[Genre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EIDR] ASC,
	[Genre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[Payment_Method] [nvarchar](50) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Payment_status] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__Payment__ED1FC9EA6FD06337] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[HNumber] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[SeatArrangement] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HNumber] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Show]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Show](
	[show_Number] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Showtime] [datetime] NOT NULL,
	[show_admin_id] [int] NOT NULL,
	[sh_EIDR] [varchar](20) NOT NULL,
	[HallNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[show_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketStatus] [varchar](50) NULL,
	[NumberOfTickets] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[HNumber] [int] NOT NULL,
	[Seatnumber] [int] NOT NULL,
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_datetime] [datetime] NOT NULL,
	[transaction_type] [nvarchar](20) NULL,
	[transaction_status] [nvarchar](20) NULL,
	[payment_id] [int] NULL,
 CONSTRAINT [PK__transact__85C600AFFDC86578] PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking_N__Booki__17C286CF]  DEFAULT ('Pending') FOR [Booking_Status]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking_N__Booki__18B6AB08]  DEFAULT (getdate()) FOR [Booking_date]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ('Unbooked') FOR [TicketStatus]
GO
ALTER TABLE [dbo].[transactions] ADD  CONSTRAINT [DF__transacti__trans__10566F31]  DEFAULT ('pending') FOR [transaction_status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customerfinal] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Payment] FOREIGN KEY([Payment_ID])
REFERENCES [dbo].[Payment] ([payment_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Payment]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Show] FOREIGN KEY([B_shownumber])
REFERENCES [dbo].[Show] ([show_Number])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Show]
GO
ALTER TABLE [dbo].[CustomerPhonefinal]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPhone_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customerfinal] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerPhonefinal] CHECK CONSTRAINT [FK_CustomerPhone_Customer]
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD FOREIGN KEY([EIDR])
REFERENCES [dbo].[Movie] ([EIDR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_HNumber_628FA481] FOREIGN KEY([HNumber])
REFERENCES [dbo].[Hall] ([HallNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_HNumber_628FA481]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Admin] FOREIGN KEY([show_admin_id])
REFERENCES [dbo].[admin] ([admin_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Admin]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Hall] FOREIGN KEY([HallNumber])
REFERENCES [dbo].[Hall] ([HallNumber])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Hall]
GO
ALTER TABLE [dbo].[Show]  WITH CHECK ADD  CONSTRAINT [FK_Show_Movie] FOREIGN KEY([sh_EIDR])
REFERENCES [dbo].[Movie] ([EIDR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Show] CHECK CONSTRAINT [FK_Show_Movie]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([HNumber], [Seatnumber])
REFERENCES [dbo].[Seat] ([HNumber], [SeatNumber])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([Booking_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Booking]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_Payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_Payment]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD CHECK  (([admin_email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Status] CHECK  (([Booking_Status]='Confirmed' OR [Booking_Status]='Pending' OR [Booking_Status]='Canceled'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Status]
GO
ALTER TABLE [dbo].[Customerfinal]  WITH CHECK ADD  CONSTRAINT [CHK_Customer_Email] CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Customerfinal] CHECK CONSTRAINT [CHK_Customer_Email]
GO
ALTER TABLE [dbo].[CustomerPhonefinal]  WITH CHECK ADD  CONSTRAINT [CHKCustomerPhone] CHECK  (([PhoneNo] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CustomerPhonefinal] CHECK CONSTRAINT [CHKCustomerPhone]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD CHECK  (([HallCapacity]>=(20) AND [HallCapacity]<=(50)))
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD CHECK  (([HallType]='Standard' OR [HallType]='VIP'))
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [CK_AgeRating] CHECK  (([AgeRating]='R' OR [AgeRating]='PG-13' OR [AgeRating]='PG' OR [AgeRating]='G'))
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [CK_AgeRating]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [CK_Duration] CHECK  (([Duration]>(0)))
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [CK_Duration]
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD  CONSTRAINT [CK_Genre] CHECK  (([Genre]='Documentary' OR [Genre]='Adventure' OR [Genre]='Animation' OR [Genre]='Sci-Fi' OR [Genre]='Thriller' OR [Genre]='Romance' OR [Genre]='Horror' OR [Genre]='Drama' OR [Genre]='Comedy' OR [Genre]='Action'))
GO
ALTER TABLE [dbo].[Movie_Genre] CHECK CONSTRAINT [CK_Genre]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK__Payment__Payment__3DE82FB7] CHECK  (([Payment_Method]='Visa' OR [Payment_Method]='cash' OR [Payment_Method]='MasterCard' OR [Payment_Method]='Fawry' OR [Payment_Method]='Vodafone Cash' OR [Payment_Method]='InstaPay' OR [Payment_Method]='Apple Pay'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK__Payment__Payment__3DE82FB7]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK__Payment__Payment__3EDC53F0] CHECK  (([Payment_status]='Completed' OR [Payment_status]='Pending' OR [Payment_status]='Canceled'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK__Payment__Payment__3EDC53F0]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD CHECK  (([SeatArrangement]='Back-Center' OR [SeatArrangement]='Back-Left' OR [SeatArrangement]='Back-Right' OR [SeatArrangement]='Front-Center' OR [SeatArrangement]='Front-Left' OR [SeatArrangement]='Front-Right'))
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD CHECK  (([TicketStatus]='Unbooked' OR [TicketStatus]='Booked'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK__transacti__trans__0F624AF8] CHECK  (([transaction_type]='refund' OR [transaction_type]='payment'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK__transacti__trans__0F624AF8]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [CK__transacti__trans__114A936A] CHECK  (([transaction_status]='failed' OR [transaction_status]='completed' OR [transaction_status]='pending'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [CK__transacti__trans__114A936A]
GO
/****** Object:  StoredProcedure [dbo].[AddCustomerfinal]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[AddCustomerfinal]
   
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Password NVARCHAR(10)
AS
BEGIN
    INSERT INTO Customerfinal (FirstName, LastName, Email, CUS_Password)
    VALUES ( @FirstName, @LastName, @Email, @Password);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddCustomerPhone]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCustomerPhone]
    @CustomerID INT,
    @PhoneNo NVARCHAR(20)
AS
BEGIN
    INSERT INTO CustomerPhonefinal (CustomerID, PhoneNo)
    VALUES (@CustomerID, @PhoneNo);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddGenreToMovie]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add genre to a movie
CREATE PROCEDURE [dbo].[AddGenreToMovie]
    @MovieEIDR VARCHAR(20),
    @Genre VARCHAR(50)
AS
BEGIN
    INSERT INTO Movie_Genre (EIDR, Genre)
    VALUES (@MovieEIDR, @Genre);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddMovie]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add a new movie
CREATE PROCEDURE [dbo].[AddMovie]
    @EIDR VARCHAR(20),
    @Title VARCHAR(100),
    @Duration INT,
    @AgeRating VARCHAR(10)
AS
BEGIN
    INSERT INTO Movie (EIDR, Title, Duration, AgeRating)
    VALUES (@EIDR, @Title, @Duration, @AgeRating);
END;
GO
/****** Object:  StoredProcedure [dbo].[AssignSeatToTicket]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AssignSeatToTicket] 
   @TicketID    INT,   -- fixed here
   @HNumber     INT, 
   @SeatNumber  INT 
AS 
BEGIN 
   IF NOT EXISTS ( 
       SELECT 1 FROM Seat WHERE HNumber = @HNumber AND SeatNumber = @SeatNumber 
   ) 
   BEGIN PRINT 'Seat does not exist in this hall'; RETURN; END 
 
   IF EXISTS ( 
       SELECT 1 FROM Ticket 
       WHERE HNumber = @HNumber AND SeatNumber = @SeatNumber AND TicketID <> @TicketID 
   ) 
   BEGIN PRINT 'Seat already booked by another ticket'; RETURN; END 
 
   UPDATE Ticket 
   SET HNumber = @HNumber, SeatNumber = @SeatNumber, TicketStatus = 'Booked' 
   WHERE TicketID = @TicketID; 
 
   PRINT 'Seat successfully assigned to ticket'; 
END;
GO
/****** Object:  StoredProcedure [dbo].[cancel_booking]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*cancelling the booking*/
create procedure [dbo].[cancel_booking]
	@bookingid int

as 
begin
		declare @PayID int
	-- geting payment id corsponding to this booking id
	select @PayID = Payment_ID
	from Booking 
	where Booking_ID = @BookingID;
	begin transaction;
    begin try
        -- Update Booking Table
        update Booking 
        set Booking_Status = 'Canceled' 
        where Booking_ID = @BookingID;

        -- Update Payment Table
        update payment 
        set Payment_status = 'Canceled'  
        where payment_id = @PayID;

        commit transaction;
    end try
    begin catch
        rollback transaction ;
        throw; 
    end catch
end;
GO
/****** Object:  StoredProcedure [dbo].[CustomerLoginWithDetails]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- gives id, firstname, lastname,phone no,booking id, booking data, total amount
CREATE PROCEDURE [dbo].[CustomerLoginWithDetails]
   @Email NVARCHAR(100),
    @Password NVARCHAR(10)
AS
BEGIN
    SELECT 
        c.Customer_ID,
        c.FirstName,
        c.LastName,
        c.Email,
        b.Booking_ID,
        b.Booking_date
    FROM Customerfinal c
    LEFT JOIN Booking b 
        ON c.Customer_ID = b.Customer_ID
    WHERE c.Email    = @Email
      AND c.CUS_Password = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[DELETE_Scheduled_show]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_Scheduled_show]
    @SHNumber INT
AS
BEGIN
    -- Check if show exists
    IF NOT EXISTS (
        SELECT 1 
        FROM [Show] 
        WHERE show_Number = @SHNumber
    )
    BEGIN
        PRINT 'Show number ' + CAST(@SHNumber AS VARCHAR) + ' does not exist';
        RETURN;
    END

    -- Delete the show
    DELETE FROM [Show]
    WHERE show_Number = @SHNumber;

    PRINT 'Show removed successfully';
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCustomer]
    @CustomerID INT
AS
BEGIN
    DELETE FROM Customerfinal
    WHERE Customer_ID = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomerPhone]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--to delete phone number 
CREATE PROCEDURE [dbo].[DeleteCustomerPhone]
    @CustomerID INT,
    @PhoneNo    NVARCHAR(20)
AS
BEGIN
    DELETE FROM CustomerPhonefinal
    WHERE CustomerID = @CustomerID
      AND PhoneNo    = @PhoneNo;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteMovie]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMovie]
    @MovieEIDR VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRy
      if NOT EXISTS (
            SELECT 1 
            FROM Movie 
            WHERE EIDR = @MovieEIDR
        )
        BEGIN
            select 'Movie with EIDR ' + @MovieEIDR + ' does not exist' as Result;
            RETURN;
        END

        DELETE FROM Movie
        WHERE EIDR = @MovieEIDR;
        select 'success ' as Result;

    END TRY
    BEGIN CATCH
        select 'error ' as Result;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[get_transaction_status]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Transaction by status (Nour)
Create procedure [dbo].[get_transaction_status]
@status nvarchar(20)
as
begin
IF @status NOT IN ('pending','failed', 'completed')
BEGIN
	print('Invalid transaction status');
	RETURN;
END;
select transaction_id, transaction_datetime, transaction_type, transaction_status, payment_id
from transactions
where transaction_status = @status
end;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMoviesWithGenres]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllMoviesWithGenres]
AS
BEGIN
    SELECT 
        m.EIDR,
        m.Title,
        m.Duration,
        m.AgeRating,
        mg.Genre
    FROM Movie m
    LEFT JOIN Movie_Genre mg
        ON m.EIDR = mg.EIDR
END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerPhones]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--to get phone numbers 
CREATE PROCEDURE [dbo].[GetCustomerPhones]
    @CustomerID INT
AS
BEGIN
    SELECT PhoneNo
    FROM CustomerPhonefinal
    WHERE CustomerID = @CustomerID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMoviesByGenre]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMoviesByGenre]
    @Genre VARCHAR(50)
AS
BEGIN
    SELECT 
        m.EIDR,
        m.Title,
        m.Duration,
        m.AgeRating
    FROM Movie m
    INNER JOIN Movie_Genre mg
        ON m.EIDR = mg.EIDR
    WHERE mg.Genre = @Genre
    ORDER BY m.Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[log_new_transaction]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Log new transaction (Nour)
create procedure [dbo].[log_new_transaction]
	@transaction_type nvarchar(20),
	@transaction_status nvarchar(20),
	@payment_id int = NULL
	as
	begin
	IF @transaction_type NOT IN ('payment', 'refund')
    BEGIN
        print('Invalid transaction type');
        RETURN;
    END
    IF @transaction_status NOT IN ('pending','failed', 'completed')
    BEGIN
        print('Invalid transaction status');
        RETURN;
    END;
    IF @payment_id IS NULL OR NOT EXISTS (SELECT 1 FROM payment WHERE payment_id = @payment_id)
    BEGIN
        PRINT 'Invalid payment_id (must exist already)';
        RETURN;
    END
	insert into transactions (transaction_datetime, transaction_type, transaction_status, payment_id) values (GETDATE(), @transaction_type, @transaction_status, @payment_id)
	end;
GO
/****** Object:  StoredProcedure [dbo].[SearchMovie]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchMovie]
    @Keyword VARCHAR(100)
AS
BEGIN
    SELECT *
    FROM Movie
    WHERE Title LIKE '%' + @Keyword + '%'
       OR EIDR LIKE '%' + @Keyword + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Schedule_show]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Schedule_show]
    @Hall_num INT,
    @time DATETIME,
    @adminID INT,
    @price DECIMAL(10,2),
    @EIDR VARCHAR(20)
AS
BEGIN

    -- Check time conflict in same hall
    IF EXISTS (
        SELECT 1 FROM [Show]
        WHERE HallNumber = @Hall_num 
          AND Showtime = @time
    )
    BEGIN
        SELECT 'TIME_CONFLICT' AS Result
        RETURN
    END

    -- Insert show (NO show_Number anymore)
    INSERT INTO [Show] 
    (Price, Showtime, show_admin_id, sh_EIDR, HallNumber)
    VALUES 
    (@price, @time, @adminID, @EIDR, @Hall_num)

    -- return success + generated ID (optional but useful)
    SELECT 
        'SUCCESS' AS Result,
        SCOPE_IDENTITY() AS NewShowNumber

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePaymentMethod]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_UpdatePaymentMethod]
    @BookingID int,
    @NewMethod nvarchar(50)
as
begin
    update payment
    set Payment_Method = @NewMethod
    from payment P
    join Booking B on P.payment_id = B.Payment_ID
    where B.Booking_ID = @BookingID;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateShowPrice]    Script Date: 5/4/2026 5:35:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Update movie price (fatema)
-- Update show price by percentage
CREATE PROCEDURE [dbo].[UpdateShowPrice]
    @ShowNO VARCHAR(20),
    @PricePercentage DECIMAL(5,2)
AS
BEGIN
    UPDATE [Show]
    SET Price = Price + (Price * @PricePercentage / 100)
    WHERE show_Number = @ShowNO;
END;
GO
USE [master]
GO
